* {
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei";
    font-weight: normal;
}

ul, li, dl, dt, dd {
    list-style: none;
}

a{ 
    text-decoration:none;
}

input,button{
    outline:none;
}

i,em{
     font-style:normal
}

a img {
    border: 0;
}

h1, h2, h3, h4, h5, strong, th, b {
    font-weight: normal;
}


.fr {
    float: right;
}

.fl {
    float: left;
}

.clearfix:after{ 
    content:"";
    display:block; 
    visibility:hidden; 
    overflow:hidden; 
    height:0; 
    font-size:0;
     clear:both;
 }